In [63]:
import pandas as pd
import osmnx as ox
import networkx as nx
import math

### Code to get the cameras in Rotterdam from dataset

In [18]:
path="../data/camera_data2.xlsx"

In [19]:
xls = pd.ExcelFile(path)

In [20]:
df1= pd.read_excel(xls, 'Table001 (Page 1)')
df2= pd.read_excel(xls, 'Table002 (Page 2)')
df3= pd.read_excel(xls, 'Table003 (Page 3)')
df4= pd.read_excel(xls, 'Table004 (Page 4)')
df5= pd.read_excel(xls, 'Table005 (Page 5)')
df6= pd.read_excel(xls, 'Table006 (Page 6)')
df7= pd.read_excel(xls, 'Table007 (Page 7)')
df8= pd.read_excel(xls, 'Table008 (Page 8)')
df9= pd.read_excel(xls, 'Table009 (Page 9)')
df10= pd.read_excel(xls, 'Table010 (Page 10)')
df11= pd.read_excel(xls, 'Table011 (Page 11)')

In [21]:
df1.columns

Index(['Locatienaam', 'Eenheid', 'Plaats', 'Gemeente', 'Latitude', 'Longitude',
       'reden 1', 'reden 2', 'reden 3', 'reden 4'],
      dtype='object')

In [22]:
df1.head()

,Locatienaam,Eenheid,Plaats,Gemeente,Latitude,Longitude,reden 1,reden 2,reden 3,reden 4
0,01 Emmaviad. ri Julianapl,Noord-Nederland,Groningen,Groningen,53206667,6562222,x,x,x,x
1,01 Emmaviaduct ri Centrum,Noord-Nederland,Groningen,Groningen,53206667,65625,x,x,x,x
2,01 LWRDN Adlansdk ri Greunsbrg,Noord-Nederland,Leeuwarden,Leeuwarden,53190627,5822761,x,x,x,x
3,01 LWRDN Greunsbrug,Noord-Nederland,Leeuwarden,Leeuwarden,53192767,5835468,x,x,x,x
4,01 LWRDN Holstmrwg richting PI,Noord-Nederland,Leeuwarden,Leeuwarden,53191878,5823654,x,x,x,x

In [23]:
df2.head()

,Locatienaam,Eenheid,Plaats,Gemeente,Latitude,Longitude,reden 1,reden 2,reden 3,reden 4
0,07 Maastunnel ZN,Rotterdam,Rotterdam,Rotterdam,51905906,4466983,NaN,x,x,x
1,07 Matlingeweg Doenkade,Rotterdam,Rotterdam,Rotterdam,51946869,440852,NaN,x,x,x
2,07 Matlingeweg Schiekade,Rotterdam,Rotterdam,Rotterdam,51938183,4411434,NaN,x,x,x
3,07 Merw.str xN3 ri 's-Gravendl,Rotterdam,Dordrecht,Dordrecht,5181707,470423,NaN,x,x,x
4,07 Merwedestr x N3 ri P-drecht,Rotterdam,Dordrecht,Dordrecht,51816943,4708611,NaN,x,x,x

In [24]:
print("Sheet 1, number of cameras in Rotterdam is, ", len(df1[df1["Gemeente"] == "Rotterdam"]))
print("Sheet 2, number of cameras in Rotterdam is, ", len(df2[df2["Gemeente"] == "Rotterdam"]))
print("Sheet 3, number of cameras in Rotterdam is, ", len(df3[df3["Gemeente"] == "Rotterdam"]))
print("Sheet 4, number of cameras in Rotterdam is, ", len(df4[df4["Gemeente"] == "Rotterdam"]))
print("Sheet 5, number of cameras in Rotterdam is, ", len(df5[df5["Gemeente"] == "Rotterdam"]))
print("Sheet 6, number of cameras in Rotterdam is, ", len(df6[df6["Gemeente"] == "Rotterdam"]))
print("Sheet 7, number of cameras in Rotterdam is, ", len(df7[df7["Gemeente"] == "Rotterdam"]))
print("Sheet 8, number of cameras in Rotterdam is, ", len(df8[df8["Gemeente"] == "Rotterdam"]))
print("Sheet 9, number of cameras in Rotterdam is, ", len(df9[df9["Gemeente"] == "Rotterdam"]))
print("Sheet 10, number of cameras in Rotterdam is, ", len(df10[df10["Gemeente"] == "Rotterdam"]))
print("Sheet 11, number of cameras in Rotterdam is, ", len(df11[df11["Gemeente"] == "Rotterdam"]))

Sheet 1, number of cameras in Rotterdam is,  14
Sheet 2, number of cameras in Rotterdam is,  35
Sheet 3, number of cameras in Rotterdam is,  11
Sheet 4, number of cameras in Rotterdam is,  10
Sheet 5, number of cameras in Rotterdam is,  1
Sheet 6, number of cameras in Rotterdam is,  1
Sheet 7, number of cameras in Rotterdam is,  0
Sheet 8, number of cameras in Rotterdam is,  1
Sheet 9, number of cameras in Rotterdam is,  2
Sheet 10, number of cameras in Rotterdam is,  1
Sheet 11, number of cameras in Rotterdam is,  0

In [31]:
df = pd.DataFrame(columns=df1.columns)

In [32]:
df = pd.concat([df, df1[df1["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df2[df2["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df3[df3["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df4[df4["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df5[df5["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df6[df6["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df7[df7["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df8[df8["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df9[df9["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df10[df10["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df11[df11["Gemeente"] == "Rotterdam"]])

In [42]:
print("number of duplicated is ", df.duplicated().values.sum())

number of duplicated is  0

In [51]:
df.dtypes

Locatienaam    object
Eenheid        object
Plaats         object
Gemeente       object
Latitude       object
Longitude      object
reden 1        object
reden 2        object
reden 3        object
reden 4        object
Column11       object
dtype: object

In [50]:
df.to_csv("../data/cameras.csv")

In [93]:
df_fixed= pd.read_excel('../data/camer_data_fixed.xlsx')

## Code to merge cameras data with graph

In [43]:
filepath = "../graph/rotterdam_drive.graphml"
graph = ox.load_graphml(filepath)

In [44]:
list(graph.edges(data=True))[7]

(29341398,
 44376845,
 {'osmid': 7518410,
  'name': 'Emerstraat',
  'highway': 'residential',
  'maxspeed': '30',
  'oneway': False,
  'length': 34.568})

In [49]:
graph.nodes[26673101]

{'y': 51.8885616, 'x': 4.5560984, 'street_count': 1}

In [94]:
df_fixed

,Locatienaam,Eenheid,Plaats,Gemeente,Latitude,Longitude
0,07 Bosdreef x Boszoom,Rotterdam,Rotterdam,Rotterdam,51.945278,4.526389
1,07 Botlekweg na truckpark HBR,Rotterdam,Rotterdam,Rotterdam,51.876145,4.261512
2,07 Botlekweg thv Exxon HBR,Rotterdam,Rotterdam,Rotterdam,51.869600,4.303333
3,07 Butaanweg HBR,Rotterdam,Rotterdam,Rotterdam,51.881623,4.381338
4,07 Dirk v.d. Burgweg HvH,Rotterdam,Hoek van Holland,Rotterdam,51.991769,4.138184
...,...,...,...,...,...,...
71,S101 Reeweg HBR,Rotterdam,Rotterdam,Rotterdam,51.873324,4.430334
72,07 Alexandrium Hfdwg A16,Rotterdam,Rotterdam,Rotterdam,51.948611,4.554167
73,A16 Re Pr 20.1 Brienenoordbrug,Rotterdam,Rotterdam,Rotterdam,51.909857,4.538413
74,A16 Re Sc 20.1 Brienenoordbrug,Rotterdam,Rotterdam,Rotterdam,51.909857,4.538413
75,N15 Re 25.3 Europaweg HBR,Rotterdam,Rotterdam,Rotterdam,51.932821,4.091762

In [61]:
row = df_fixed.iloc[0]
node = graph.nodes[26673101]

In [66]:
distance = math.acos(math.sin(row['Latitude']*math.sin(node.get("y"))+math.cos(row['Latitude'])*math.cos(node.get("y"))*math.cos(node.get("x")-row['Longitude'])))*6371

In [67]:
distance

278.423995559846

In [68]:
df_fixed['distance'] = 999999

In [101]:
for index, row in df_fixed.iterrows():
    
    closest_node = None
    closest_distance = math.inf 
    
    for index1, node in graph.nodes(data=True):
        distance = math.acos(math.sin(row['Latitude']*math.sin(node.get("y"))+math.cos(row['Latitude'])*math.cos(node.get("y"))*math.cos(node.get("x")-row['Longitude'])))*6371
        if distance < closest_distance:
            closest_distance = distance
            closest_node = index1
    
    df_fixed.at[index, 'distance'] = closest_distance
    df_fixed.at[index, 'node'] = closest_node
    graph.nodes[closest_node]["camera"] = True
    print(graph.nodes[closest_node])

{'y': 51.9032052, 'x': 4.5532535, 'street_count': 3, 'camera': True}
{'y': 51.8762388, 'x': 4.4798795, 'street_count': 3, 'camera': True}
{'y': 51.8727552, 'x': 4.4738543, 'street_count': 4, 'camera': True}
{'y': 51.8789663, 'x': 4.5179383, 'street_count': 4, 'camera': True}
{'y': 51.9165278, 'x': 4.4494843, 'street_count': 3, 'camera': True}
{'y': 51.9007977, 'x': 4.4884237, 'street_count': 3, 'camera': True}
{'y': 51.8917448, 'x': 4.5019404, 'street_count': 3, 'camera': True}
{'y': 51.8917448, 'x': 4.5019404, 'street_count': 3, 'camera': True}
{'y': 51.9125664, 'x': 4.4475022, 'street_count': 3, 'camera': True}
{'y': 51.9044128, 'x': 4.4598037, 'street_count': 3, 'camera': True}
{'y': 51.8747476, 'x': 4.4840501, 'street_count': 4, 'camera': True}
{'y': 51.8768367, 'x': 4.4589816, 'street_count': 3, 'camera': True}
{'y': 51.8873187, 'x': 4.474631, 'street_count': 4, 'camera': True}
{'y': 51.889419, 'x': 4.4941455, 'street_count': 4, 'camera': True}
{'y': 51.8894367, 'x': 4.4235843, 'street_count': 3, 'camera': True}
{'y': 51.9036946, 'x': 4.4386244, 'street_count': 3, 'camera': True}
{'y': 51.900933, 'x': 4.4790242, 'street_count': 3, 'camera': True}
{'y': 51.895175, 'x': 4.5172556, 'street_count': 3, 'camera': True}
{'y': 51.8880982, 'x': 4.4954683, 'street_count': 3, 'camera': True}
{'y': 51.8870134, 'x': 4.5713457, 'street_count': 3, 'camera': True}
{'y': 51.8988124, 'x': 4.51613, 'street_count': 3, 'camera': True}
{'y': 51.8732709, 'x': 4.4639331, 'street_count': 3, 'camera': True}
{'y': 51.8782879, 'x': 4.4486214, 'street_count': 3, 'camera': True}
{'y': 51.8731874, 'x': 4.4597335, 'street_count': 3, 'camera': True}
{'y': 51.8729271, 'x': 4.4557493, 'street_count': 5, 'camera': True}
{'y': 51.9073709, 'x': 4.4487584, 'street_count': 3, 'camera': True}
{'y': 51.9075379, 'x': 4.4657456, 'street_count': 3, 'camera': True}
{'y': 51.900156, 'x': 4.5149472, 'street_count': 4, 'camera': True}
{'y': 51.8849914, 'x': 4.4914496, 'highway': 'crossing', 'street_count': 3, 'camera': True}
{'y': 51.8657784, 'x': 4.4613282, 'street_count': 3, 'camera': True}
{'y': 51.8657784, 'x': 4.4613282, 'street_count': 3, 'camera': True}
{'y': 51.8978018, 'x': 4.5658256, 'street_count': 3, 'camera': True}
{'y': 51.8858088, 'x': 4.4735872, 'street_count': 3, 'camera': True}
{'y': 51.8945449, 'x': 4.4626693, 'street_count': 4, 'camera': True}
{'y': 51.8945449, 'x': 4.4626693, 'street_count': 4, 'camera': True}
{'y': 51.8756706, 'x': 4.4637936, 'street_count': 4, 'camera': True}
{'y': 51.874926, 'x': 4.4942715, 'street_count': 3, 'camera': True}
{'y': 51.899363, 'x': 4.5128785, 'street_count': 2, 'camera': True}
{'y': 51.899363, 'x': 4.5128785, 'street_count': 2, 'camera': True}
{'y': 51.8766193, 'x': 4.5123757, 'street_count': 4, 'camera': True}
{'y': 51.895129, 'x': 4.4953408, 'street_count': 3, 'camera': True}
{'y': 51.895129, 'x': 4.4953408, 'street_count': 3, 'camera': True}
{'y': 51.88444, 'x': 4.4888165, 'street_count': 3, 'camera': True}
{'y': 51.8840584, 'x': 4.5031721, 'street_count': 3, 'camera': True}
{'y': 51.8777183, 'x': 4.5169843, 'street_count': 3, 'camera': True}
{'y': 51.8720111, 'x': 4.4700742, 'street_count': 3, 'camera': True}
{'y': 51.8723589, 'x': 4.5363958, 'street_count': 1, 'camera': True}
{'y': 51.8939489, 'x': 4.5635988, 'street_count': 3, 'camera': True}
{'y': 51.8937425, 'x': 4.5102388, 'street_count': 3, 'camera': True}
{'y': 51.8846005, 'x': 4.4875884, 'street_count': 5, 'camera': True}
{'y': 51.8846005, 'x': 4.4875884, 'street_count': 5, 'camera': True}
{'y': 51.884632, 'x': 4.5408993, 'street_count': 1, 'camera': True}
{'y': 51.884632, 'x': 4.5408993, 'street_count': 1, 'camera': True}
{'y': 51.9027763, 'x': 4.4968281, 'street_count': 4, 'camera': True}
{'y': 51.874689, 'x': 4.461959, 'street_count': 3, 'camera': True}
{'y': 51.8757662, 'x': 4.4314709, 'street_count': 4, 'camera': True}
{'y': 51.874689, 'x': 4.461959, 'street_count': 3, 'camera': True}
{'y': 51.885465, 'x': 4.554134, 'street_count': 3, 'camera': True}
{'y': 51.8914721, 'x': 4.4792257, 'street_count': 3, 'camera': True}
{'y': 51.8909551, 'x': 4.460564, 'street_count': 3, 'camera': True}
{'y': 51.9050615, 'x': 4.5090023, 'street_count': 4, 'camera': True}
{'y': 51.9037523, 'x': 4.4521772, 'street_count': 3, 'camera': True}
{'y': 51.9038732, 'x': 4.4966925, 'street_count': 3, 'camera': True}
{'y': 51.9038732, 'x': 4.4966925, 'street_count': 3, 'camera': True}
{'y': 51.8989903, 'x': 4.5632174, 'street_count': 3, 'camera': True}
{'y': 51.9016273, 'x': 4.4963197, 'street_count': 3, 'camera': True}
{'y': 51.9009341, 'x': 4.5034468, 'street_count': 3, 'camera': True}
{'y': 51.8981178, 'x': 4.4162033, 'street_count': 3, 'camera': True}
{'y': 51.8682882, 'x': 4.4438388, 'street_count': 4, 'camera': True}
{'y': 51.8682882, 'x': 4.4438388, 'street_count': 4, 'camera': True}
{'y': 51.904509, 'x': 4.4434621, 'street_count': 2, 'camera': True}
{'y': 51.8747956, 'x': 4.4809035, 'street_count': 3, 'camera': True}
{'y': 51.9042347, 'x': 4.5028532, 'street_count': 4, 'camera': True}
{'y': 51.8909551, 'x': 4.460564, 'street_count': 3, 'camera': True}
{'y': 51.8909551, 'x': 4.460564, 'street_count': 3, 'camera': True}
{'y': 51.8989614, 'x': 4.5115708, 'street_count': 1, 'camera': True}

In [98]:
df_fixed

,Locatienaam,Eenheid,Plaats,Gemeente,Latitude,Longitude,distance,node
0,07 Bosdreef x Boszoom,Rotterdam,Rotterdam,Rotterdam,51.945278,4.526389,0.128408,4.432157e+07
1,07 Botlekweg na truckpark HBR,Rotterdam,Rotterdam,Rotterdam,51.876145,4.261512,0.051836,4.418888e+07
2,07 Botlekweg thv Exxon HBR,Rotterdam,Rotterdam,Rotterdam,51.869600,4.303333,0.097882,3.609587e+09
3,07 Butaanweg HBR,Rotterdam,Rotterdam,Rotterdam,51.881623,4.381338,0.014107,4.420267e+07
4,07 Dirk v.d. Burgweg HvH,Rotterdam,Hoek van Holland,Rotterdam,51.991769,4.138184,0.084584,4.438267e+07
...,...,...,...,...,...,...,...,...
71,S101 Reeweg HBR,Rotterdam,Rotterdam,Rotterdam,51.873324,4.430334,0.024679,4.418312e+07
72,07 Alexandrium Hfdwg A16,Rotterdam,Rotterdam,Rotterdam,51.948611,4.554167,0.194773,4.432500e+07
73,A16 Re Pr 20.1 Brienenoordbrug,Rotterdam,Rotterdam,Rotterdam,51.909857,4.538413,0.066801,3.246672e+09
74,A16 Re Sc 20.1 Brienenoordbrug,Rotterdam,Rotterdam,Rotterdam,51.909857,4.538413,0.066801,3.246672e+09
75,N15 Re 25.3 Europaweg HBR,Rotterdam,Rotterdam,Rotterdam,51.932821,4.091762,0.411435,4.430414e+07

In [103]:
nodeswithcamera = []
for (p, d) in graph.nodes(data=True):
    if 'camera' in d:
        nodeswithcamera.append(p)

In [105]:
len(nodeswithcamera)

65

In [106]:
ox.io.save_graphml(graph, filepath="../graph/rotterdam_drive_with_cameras.graphml")