In [1]:
import pandas as pd
import osmnx as ox
import networkx as nx

C:\Users\Willemijn Tutuarima\miniconda3\envs\gds\lib\site-packages\geopandas\_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1dev-CAPI-1.14.1) is incompatible with the GEOS version PyGEOS was compiled with (3.9.1-CAPI-1.14.2). Conversions between both will be slow.
  warnings.warn(

### Code to get the cameras in Rotterdam from dataset

In [18]:
path="../data/camera_data2.xlsx"

In [19]:
xls = pd.ExcelFile(path)

In [20]:
df1= pd.read_excel(xls, 'Table001 (Page 1)')
df2= pd.read_excel(xls, 'Table002 (Page 2)')
df3= pd.read_excel(xls, 'Table003 (Page 3)')
df4= pd.read_excel(xls, 'Table004 (Page 4)')
df5= pd.read_excel(xls, 'Table005 (Page 5)')
df6= pd.read_excel(xls, 'Table006 (Page 6)')
df7= pd.read_excel(xls, 'Table007 (Page 7)')
df8= pd.read_excel(xls, 'Table008 (Page 8)')
df9= pd.read_excel(xls, 'Table009 (Page 9)')
df10= pd.read_excel(xls, 'Table010 (Page 10)')
df11= pd.read_excel(xls, 'Table011 (Page 11)')

In [21]:
df1.columns

Index(['Locatienaam', 'Eenheid', 'Plaats', 'Gemeente', 'Latitude', 'Longitude',
       'reden 1', 'reden 2', 'reden 3', 'reden 4'],
      dtype='object')

In [22]:
df1.head()

,Locatienaam,Eenheid,Plaats,Gemeente,Latitude,Longitude,reden 1,reden 2,reden 3,reden 4
0,01 Emmaviad. ri Julianapl,Noord-Nederland,Groningen,Groningen,53206667,6562222,x,x,x,x
1,01 Emmaviaduct ri Centrum,Noord-Nederland,Groningen,Groningen,53206667,65625,x,x,x,x
2,01 LWRDN Adlansdk ri Greunsbrg,Noord-Nederland,Leeuwarden,Leeuwarden,53190627,5822761,x,x,x,x
3,01 LWRDN Greunsbrug,Noord-Nederland,Leeuwarden,Leeuwarden,53192767,5835468,x,x,x,x
4,01 LWRDN Holstmrwg richting PI,Noord-Nederland,Leeuwarden,Leeuwarden,53191878,5823654,x,x,x,x

In [23]:
df2.head()

,Locatienaam,Eenheid,Plaats,Gemeente,Latitude,Longitude,reden 1,reden 2,reden 3,reden 4
0,07 Maastunnel ZN,Rotterdam,Rotterdam,Rotterdam,51905906,4466983,NaN,x,x,x
1,07 Matlingeweg Doenkade,Rotterdam,Rotterdam,Rotterdam,51946869,440852,NaN,x,x,x
2,07 Matlingeweg Schiekade,Rotterdam,Rotterdam,Rotterdam,51938183,4411434,NaN,x,x,x
3,07 Merw.str xN3 ri 's-Gravendl,Rotterdam,Dordrecht,Dordrecht,5181707,470423,NaN,x,x,x
4,07 Merwedestr x N3 ri P-drecht,Rotterdam,Dordrecht,Dordrecht,51816943,4708611,NaN,x,x,x

In [24]:
print("Sheet 1, number of cameras in Rotterdam is, ", len(df1[df1["Gemeente"] == "Rotterdam"]))
print("Sheet 2, number of cameras in Rotterdam is, ", len(df2[df2["Gemeente"] == "Rotterdam"]))
print("Sheet 3, number of cameras in Rotterdam is, ", len(df3[df3["Gemeente"] == "Rotterdam"]))
print("Sheet 4, number of cameras in Rotterdam is, ", len(df4[df4["Gemeente"] == "Rotterdam"]))
print("Sheet 5, number of cameras in Rotterdam is, ", len(df5[df5["Gemeente"] == "Rotterdam"]))
print("Sheet 6, number of cameras in Rotterdam is, ", len(df6[df6["Gemeente"] == "Rotterdam"]))
print("Sheet 7, number of cameras in Rotterdam is, ", len(df7[df7["Gemeente"] == "Rotterdam"]))
print("Sheet 8, number of cameras in Rotterdam is, ", len(df8[df8["Gemeente"] == "Rotterdam"]))
print("Sheet 9, number of cameras in Rotterdam is, ", len(df9[df9["Gemeente"] == "Rotterdam"]))
print("Sheet 10, number of cameras in Rotterdam is, ", len(df10[df10["Gemeente"] == "Rotterdam"]))
print("Sheet 11, number of cameras in Rotterdam is, ", len(df11[df11["Gemeente"] == "Rotterdam"]))

Sheet 1, number of cameras in Rotterdam is,  14
Sheet 2, number of cameras in Rotterdam is,  35
Sheet 3, number of cameras in Rotterdam is,  11
Sheet 4, number of cameras in Rotterdam is,  10
Sheet 5, number of cameras in Rotterdam is,  1
Sheet 6, number of cameras in Rotterdam is,  1
Sheet 7, number of cameras in Rotterdam is,  0
Sheet 8, number of cameras in Rotterdam is,  1
Sheet 9, number of cameras in Rotterdam is,  2
Sheet 10, number of cameras in Rotterdam is,  1
Sheet 11, number of cameras in Rotterdam is,  0

In [31]:
df = pd.DataFrame(columns=df1.columns)

In [32]:
df = pd.concat([df, df1[df1["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df2[df2["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df3[df3["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df4[df4["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df5[df5["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df6[df6["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df7[df7["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df8[df8["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df9[df9["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df10[df10["Gemeente"] == "Rotterdam"]])
df = pd.concat([df, df11[df11["Gemeente"] == "Rotterdam"]])

In [42]:
print("number of duplicated is ", df.duplicated().values.sum())

number of duplicated is  0

## Code to merge cameras data with graph

In [43]:
filepath = "../graph/rotterdam_drive.graphml"
graph = ox.load_graphml(filepath)