In [1]:
import pandas as pd
import osmnx as ox
import networkx as nx
import math
from numpy import linalg as LA
import numpy as np

C:\Users\Willemijn Tutuarima\miniconda3\envs\gds\lib\site-packages\geopandas\_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1dev-CAPI-1.14.1) is incompatible with the GEOS version PyGEOS was compiled with (3.9.1-CAPI-1.14.2). Conversions between both will be slow.
  warnings.warn(

In [2]:
filepath = "../graph/rotterdam_drive.graphml"
graph = ox.load_graphml(filepath)

In [3]:
list(graph.nodes(data=True))[1]
# latitude = y, longitude = x

(26911590, {'y': 51.9226227, 'x': 4.4919619, 'street_count': 3})

In [4]:
df = pd.DataFrame(columns=['lat', 'lon'])

In [6]:
for index, data in graph.nodes(data=True):
    list_row = [data.get('y'), data.get('x')]
    df.loc[len(df)] = list_row

In [7]:
df

            lat        lon
0      4.556098  51.888562
1      4.491962  51.922623
2      4.556670  51.890354
3      4.554568  51.889970
4      4.553497  51.889823
...         ...        ...
11278  4.516478  51.955870
11279  4.516344  51.955864
11280  4.516257  51.956153
11281  4.543833  51.895863
11282  4.528206  51.955872

[11283 rows x 2 columns]

In [8]:
len(list(graph.nodes()))

11283

In [9]:
df_point_to_point = pd.DataFrame(columns={'lat1', 'lon1', 'lat2', 'lon2'})

In [13]:
for index, data in graph.nodes(data=True):
     for node_num in graph.neighbors(index):
            data_numer = graph.nodes[node_num]
            list_row = [data.get('y'), data.get('x'), data_numer.get('y'), data_numer.get('y')]
            df_point_to_point.loc[len(df_point_to_point)] = list_row

In [14]:
df_point_to_point

            lat1      lat2       lon1       lon2
0      51.888562  4.556098  51.889107  51.889107
1      51.922623  4.491962  51.923058  51.923058
2      51.922623  4.491962  51.922391  51.922391
3      51.922623  4.491962  51.922313  51.922313
4      51.890354  4.556670  51.890988  51.890988
...          ...       ...        ...        ...
24976  51.955864  4.516344  51.955308  51.955308
24977  51.956153  4.516257  51.955864  51.955864
24978  51.895863  4.543833  51.895331  51.895331
24979  51.955872  4.528206  51.955027  51.955027
24980  51.955872  4.528206  51.956150  51.956150

[24981 rows x 4 columns]

In [15]:
df_point_to_point.to_excel("traffic_points.xlsx")

### Read XML

In [16]:

from bs4 import BeautifulSoup

In [ ]:
# Reading the data inside the xml
# file to a variable under the name
# data
with open('../data/traffic/trafficspeed.xml', 'r') as f:
    data = f.read()
 
# Passing the stored data inside
# the beautifulsoup parser, storing
# the returned object
Bs_data = BeautifulSoup(data, "xml")
 
# Finding all instances of tag
# `unique`
b_unique = Bs_data.find_all('unique')
 
print(b_unique)
 
# Using find() to extract attributes
# of the first instance of the tag
b_name = Bs_data.find('child', {'name':'Frank'})
 
print(b_name)
 
# Extracting the data stored in a
# specific attribute of the
# `child` tag
value = b_name.get('test')
 
print(value)

In [17]:
import xml.etree.ElementTree as ET

In [18]:
tree = ET.parse('../data/traffic/trafficspeed.xml')
root = tree.getroot()

PermissionError: [Errno 13] Permission denied: '../data/traffic/trafficspeed.xml'